<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %> 
    <link rel="stylesheet" href="styles/restaurants.css" />
  </head>
  <body>
    <%- include("includes/header") %> 
    <%- include("includes/side-drawer") %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if (numberOfRestaurants ===0) { %>
      <p>There are no restaurants. Recommend some?</p>
      <% } else { %>
      <p>We found <%= numberOfRestaurants %> restaurants.</p>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <ul id="restaurants-list">
        <% for (const restaurant of restaurants) { %>
        <%- include("includes/restaurants/restaurant-item", {restaurant : restaurant}) %>
        <% } %>
        <!-- the second restaurant in the second parameter refers to the item in the for of loop above it.
           The first one is the key name as seen in the restaurant-item.ejs file -->
      </ul>
      <% } %>
    </main>
  </body>
</html>
